/*
    Main Index Style

*/
.layout__section {
  .layout__section--div {
    display: flex;
    .layout__side {
    }
    .layout__mainbody {
      flex: 1;
    }
  }
}

/*
    SideBar Style
*/
.aside__section--show {
  @include lg-screen() {
    transform: translateX(0%);
  }
}
.aside__section--hide {
  @include lg-screen() {
    transform: translateX(-90%);
  }
}
.aside__section {
  // @include lg-screen() {
  //   // background-color: #b0a1df;
  // }

  @include lg-screen() {
    // border: 1px solid red;
    position: fixed;
    z-index: 99;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  width: 270px;
  background-color: $main-white-color;
  height: 100vh;
  position: sticky;
  top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid rgba(7, 15, 33, 0.08);

  .aside__logo {
    padding: 0px 15px 0px 30px;
    height: 76px;

    border-bottom: 1px solid rgba(7, 15, 33, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo__arrow--768--media {
      @include lg-screen() {
        position: relative;
        right: -14px;
        z-index: 9999;
        transform: rotate(180deg);
      }
    }
    .logo__arrow {
      margin-left: 76px;
    }
  }
  .aside__menu {
    padding: 26px 15px 16px 15px;
    .menu__item--compnay {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid rgba(7, 15, 33, 0.08);
    }
    .menu__item {
      padding: 12px 15px;
      margin-bottom: 4px;
      .menu__item--link {
        text-decoration: none;
        display: flex;
        align-items: center;
        span {
          color: $main-black-color;
          margin-left: 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
/*
    Header Style
*/
.header__section {
  // width: 100%;
  min-height: 76px;
  background: $main-white-color;
  border-bottom: 1px solid rgba(7, 15, 33, 0.08);
  padding: 16px 30px;
  .header__section--div {
    display: flex;
    @include md-screen() {
      flex-wrap: wrap;
      gap: 8px 0px;
    }
    align-items: center;
    //User Group
    .header__usergroup {
      background: rgba(7, 15, 33, 0.06);

      border-radius: 8px 8px 8px 8px;

      display: flex;
      // border: 1px solid red;
      height: 40px;
      // border: 1px solid red;
      //   User List
      .usergroup__list {
        display: flex;
        padding: 5px 5px 5px 4px;

        .usergroup__count {
          display: flex;
          align-items: center;
          .user__avatar--medium {
            border-radius: 50%;
          }
        }
        span {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 12px;
          color: $main-white-color;
        }
        .user__count--yellow {
          @include user-count-box(#faad14);
        }
        .user__count--purple {
          @include user-count-box(#b0a1df);
        }
      }
      // User Options
      .usergroup__option {
        .usergroup__option--btn {
          // padding: 9px;

          height: 100%;
          width: 40px;
          background: $main-white-color;
          border: 1px solid rgba(7, 15, 33, 0.1);
          border-radius: 0px 8px 8px 0px;
        }
      }
    }

    // Header Searching
    .header__search {
      margin-left: 8px;
      flex: 1;
      // width: 635px;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px 12px;
      border: 1px solid rgba(7, 15, 33, 0.1);
      border-radius: 8px;
      input {
        border: none;
        outline: none;
        margin-left: 8px;
      }
    }

    .header__user--avatar {
    }
  }
}

/*
Layout Mian Section
*/
.layout__main--section {
  // padding-top: 24px;
  // padding-left: 29px;
}
