/*
    Model
*/
.modal__div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.333);
  position: fixed;
  z-index: 9999;
  padding-top: 200px;
}

.modal__header {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e7e9;
}
.modal__body {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #e6e7e9;
}
.modal__footer {
  padding: 20px 24px 24px 24px;
  .modal_btn {
    cursor: pointer;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
  }
}

// Delete

.delmodal__div {
  width: 492px;
  height: 248px;
  background-color: $main-white-color;
  border-radius: 8px;
  .delmodal__body {
    padding-top: 24px;
    padding-bottom: 54px;
  }
  .delmodal__footer {
    text-align: right;
    button {
      &:nth-child(2) {
        background-color: #e74926;
        color: $main-white-color;
      }
    }
  }
}

// Save Model
.savemodal__div {
  background-color: $main-white-color;
  border-radius: 8px;
  width: 581px;
  .savemodal__header--title--div {
    display: flex;
    align-items: center;
  }
  .savemodal__body {
    padding-top: 30px;
    padding-bottom: 22px;
    .model__inputcontrol {
      .inputfield__detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba(7, 15, 33, 0.1);
        border-radius: 8px;
        .inputfield__div {
          padding: 15px 16px;
          input {
            border: none;
            outline: none;
          }
        }

        .input__right--side {
          border-left: 1px solid rgba(7, 15, 33, 0.1);
          width: 62px;
          display: flex;
          align-items: center;
        }
        .box__black {
          width: 24px;
          height: 24px;
          background-color: $main-black-color;
          border-radius: 4px;
        }
      }
    }
  }

  .savemodal__footer {
    text-align: right;
    button {
      &:nth-child(1) {
        background-color: $primary-color;
        color: $main-white-color;
      }
    }
  }
}
