// Heading
.heading__1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.heading__2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.heading__3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.heading__4 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.heading__5 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

// Sub Heading
.heading__sub__1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.heading__sub__2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.heading__sub__3 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.heading__sub__4 {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}
.heading__sub__5 {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
.heading__sub__6 {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

// Button Text
.btn__text__1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.btn__text__2 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}
.btn__text__3 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.btn__text__3 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

// Input{
.input__text__1 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.input__text__2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
